Repository techbasejs/techbase, pull requests merged in 2024-08, with the labels that each got.

#14 [FEAT] @techbase/simm-helpers Init packages simm-helpers and function formatPhoneNumberWithHyphens, formatDecimal, formatNumberWithCommas, formatCurrencyUS, formatCurrencyJPY, formatCurrencyJPYFloat
  packages/simm-helpers/README.md
  packages/simm-helpers/package.json
  packages/simm-helpers/src/format-currency.ts
  packages/simm-helpers/src/format-number-decimal.ts
  packages/simm-helpers/src/format-number-with-commas.ts
  packages/simm-helpers/src/format-phone-number-with-hyphens.ts
  packages/simm-helpers/tests/format-currency.spec.ts
  packages/simm-helpers/tests/format-number-decimal.spec.ts
  packages/simm-helpers/tests/format-number-with-commas.spec.ts
  packages/simm-helpers/tests/format-phone-number-with-hyphens.spec.ts
  pnpm-lock.yaml
Labels: simm-helpers

#77 [FEAT] @techbase/simm-helpers Create convert fullwidth to halfwidth function
  packages/simm-helpers/README.md
  packages/simm-helpers/src/index.ts
  packages/simm-helpers/src/to-halfwidth.ts
  packages/simm-helpers/tests/convert-to-halfwidth.spec.ts
Labels: simm-helpers

#20 [FEAT] @techbase/simm-validation create isPhoneNumber validate func
  packages/simm-validation/src/index.ts
  packages/simm-validation/src/is-japanese-phone-number.ts
  packages/simm-validation/tests/is-japanese-phone-number.spec.ts
Labels: simm-validation

#87 [FEAT] @techbase/simm-validation add isUnique function
  packages/simm-validation/README.md
  packages/simm-validation/src/is-unique-array.ts
  packages/simm-validation/tests/is-unique-array.spec.ts
Labels: simm-validation

#21 [FEAT] @techbase/simm-validation Create isEmail validate func
  packages/simm-validation/src/index.ts
  packages/simm-validation/src/is-email.ts
  packages/simm-validation/tests/is-email.spec.ts
Labels: simm-validation

#112 [UPDATE] @techbase/simm-validation isEmail function
  packages/simm-validation/src/is-email.ts
Labels: simm-validation

#95 [FEAT] @techbase/simm-helpers Add func convert fullwidth hiragana to halfwidth katakana
  packages/simm-helpers/src/fullwidth-hiragana-to-halfwidth-katakana.ts
  packages/simm-helpers/tests/fullwidth-hiragana-to-halfwidth-katakana.spec.ts
Labels: simm-helpers

#41 feat: add parse and strigify query string feature
  packages/simm-helpers/src/index.ts
  packages/simm-helpers/src/parse-url-query.ts
  packages/simm-helpers/src/stringify-url-query.ts
  packages/simm-helpers/tests/parse-url-query.spec.ts
  packages/simm-helpers/tests/stringify-url-query.spec.ts
Labels: simm-helpers

#100 feat: validate jsKanji text
  packages/simm-validation/src/is-kanji.ts
  packages/simm-validation/src/shared/constants/regex.ts
  packages/simm-validation/test/utils/is-kanji.spec.ts
Labels: simm-validation

#97 feat: isKatakana
  packages/simm-validation/src/index.ts
  packages/simm-validation/src/is-katakana.ts
  packages/simm-validation/tests/is-alphanumeric.spec.ts
  packages/simm-validation/tests/is-katakana.spec.ts
Labels: simm-validation

#99 [FEAT] @techbase/simm-validation create isKana characters validate function
  packages/simm-validation/src/is-alphanumeric.ts
  packages/simm-validation/src/is-full-width-kana.ts
  packages/simm-validation/src/is-hiragana.ts
  packages/simm-validation/src/is-japanese-phone-number.ts
  packages/simm-validation/src/is-kana.ts
  packages/simm-validation/src/is-url.ts
  packages/simm-validation/src/shared/constants.ts
  packages/simm-validation/test/is-kana.spec.ts
Labels: simm-validation

#80 feat: add parseJson/stringifyJson for response
  packages/simm-fetch/playground/index.ts
  packages/simm-fetch/src/api-client.ts
  packages/simm-fetch/src/types.ts
  packages/simm-fetch/src/utils/data-handlers.ts
  packages/simm-fetch/src/utils/handle-request-success.ts
  packages/simm-fetch/src/utils/handle-response-error.ts
  packages/simm-fetch/src/utils/handle-response-success.ts
  packages/simm-fetch/src/utils/query-params.ts
Labels: simm-fetch

#23 [FEAT] @techbase/simm-validateion add min max lenght and isInRange validate
  packages/simm-helpers/README.md
  packages/simm-helpers/src/in-range-number.ts
  packages/simm-helpers/tests/in-range-number.spec.ts
Labels: simm-validation

#111 [FEAT] @techbase/simm-validation isAlphanumeric
  packages/simm-validation/tests/is-alphanumeric.spec.ts
  packages/simm-validation/tests/is-japanese-phone-number.spec.ts
Labels: simm-validation
